* {
    margin: 0;
    padding: 0;
    border: 0;
    
    }
 /* html {
     font-size: 1rem;
     height: 100%; }*/

 /* body, header, footer {
    /* border: 4px rgb(161, 236, 161) solid; */
    /* min-height: 50px;
    margin: 0.5rem;
    min-width: 400px; */

    body {
    background: white;

}    

header {
   /* box-shadow: 0 0 0.5 rem rgb (83 78 76 / 50%); */
    font-size: larger;
}

a {
    color: rgb(76, 226, 76);
    font-weight: bold;
}
a:hover {
 color: rgb(141, 16, 93);    
}

img {
    max-width: 100%;
}




/* main>aside {
    /* border:2px green solid; */
    /* min-height: 100px;
    margin: 0.5rem;
    min-width: 25%;
    float: left;
    width: auto; */
.secciones {
    /* border: 1px rgba(179, 180, 187, 0.897) solid; */
    min-height: 50px;
    margin: 0.5rem;


}
.slider {
    width: 95%;
    margin: auto;
    overflow: hidden;

}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite;
    animation-direction: alternate;
}

.slider li {
    width: 100%;
    list-style: none;
}
.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}

    
}

.formulario {
    max-width: 90%;
    margin: auto;

}

.form {
    max-width: 400px;
    margin: auto;
    padding: 30px 50px;
    margin-top: 20px;
    background: green
   
}


.form-title {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    margin: 0;
    margin-bottom: 20px;
}
.form-input label {
    display: left;
    font-size: 15px;

}
.form-input input {
    width: 100%;
    border: none;
    outline: none;


}

.boton input {
    background: black;
    color: white;
    padding: 10px 50px;
    font-size: 20px;
    margin:auto;
    display: block;
    margin-top: 40px;
}

.secciones article {
    /* border:2px purple solid; */
    margin: 0.5rem;
    min-height: 20px;
}

#gift-reciclado {
    width: 10%;

}
.header-logo {
    width: auto;
    display: inline-block;
    margin:0.5rem
    padding 25%
}
.header-menu {
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    display: inline-block;
    margin: 0 0 2.5rem 1rem
    
}
.header-menu ul {
    list-style: none;
}
.header-menu li {
    float: left;
    font-weight: 500;
    text-align: center;
    margin: 0.5rem;

}
.header-menu a  {
    text-decoration: none;
    color: green;
}


.fontawesome {
    display: inline-block;
    width: fit-content;
    line-height: 150%;
    margin: 0.5rem 1 2rem 0;
    text-align: center;
    padding: o;    
}

.fontawesome i {
    text-align: center;
    font-size: 200%;
    padding: 20%;

}
h3 {
    font-size: 100%;
  line-height: 155%;
  font-weight: 500;
  color: #18643a;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  font-weight: bold;

}
#servicios {
    width: 30%;
    float: left;
    padding: 10px;
    text-align: center;

}